{% extends 'base_without_navbar.html' %}
{% block title %} Admin Login {% endblock title %}

{% block body %}

<div class="card login-card shadow position-relative">

  <h3 class="text-center fw-bold mb-3">Admin Login</h3>

  <form method="POST" action="{{ url_for('admin_login') }}">

<!-- Email -->
<div class="mb-3">
  <label class="form-label">Email</label>
  <input
    name="email"
    type="email"
    class="form-control"
    placeholder="Enter your email"
    required
  />
</div>

<!-- Password -->
<div class="mb-3">
  <label class="form-label">Password</label>

  <div class="input-group">
    <input
      name="password"
      type="password"
      id="password"
      class="form-control"
      placeholder="Enter password"
      required
    />

    <span
      class="input-group-text"
      style="cursor: pointer"
      onclick="togglePassword()"
      id="toggleIcon"
    >
      👁️
    </span>
  </div>
</div>

<button type="submit" class="btn btn-success w-100 py-2">
  Login
</button>

<p class="text-center mt-3 mb-0">
  New admin?
  <a href="{{ url_for('admin_register') }}" class="fw-bold">
    Register here
  </a>
</p>

  </form>

</div>

<script>
function togglePassword() {
  const password = document.getElementById("password");
  const icon = document.getElementById("toggleIcon");

  if (password.type === "password") {
    password.type = "text";
    icon.textContent = "🙈";
  } else {
    password.type = "password";
    icon.textContent = "👁️";
  }
}
</script>

{% endblock body %}
