{% extends 'base_without_navbar.html' %}

{% block body %}
<style>
.title{
    text-align:center;
    margin-bottom:20px;
    font-weight:bold;
}
</style>

<div class="container">

<h2 class="title">Daily Report</h2>

<table class="table table-bordered table-striped">

<tr>
<th>Total Interviews Scheduled Today</th>
<td>{{ total_today }}</td>
</tr>

<tr>
<th>Completed Interviews</th>
<td>{{ completed_today }}</td>
</tr>

<tr>
<th>Missed / Not Completed Interviews</th>
<td>{{ not_completed }}</td>
</tr>

<tr>
<th>Average Score Today</th>
<td>{{ avg_score }}</td>
</tr>

</table>
<button onclick="printReport()" class="btn btn-primary">
🖨️ Download / Print Report
</button>


</div>
<script>
function printReport() {
    window.print();
}
</script>

{% endblock %}